# RKN cytology analysis
Goal is to get data from cytology papers and to plot it reliably. Should maintain link between data and source.

I am loading data into a csv file called cytology.csv in this folder

In [1]:
%matplotlib inline
import pandas as pd

In [30]:
cytology = pd.DataFrame.from_csv(
    'cytology.csv')
cytology.head()

,csome_low,csome_high,N,isolate,location,country,reproduction,reference
species,,,,,,,,
M. arenaria,36,,1,10-NC,North Carolina,USA,automixis,Triantaphyllou AC: Polyploidy and Parthenogene...
M. arenaria,36,,1,55-NC,North Carolina,USA,automixis,Triantaphyllou AC: Polyploidy and Parthenogene...
M. arenaria,36,,1,98-NC,North Carolina,USA,automixis,Triantaphyllou AC: Polyploidy and Parthenogene...
M. arenaria,51,,1,1-NC,North Carolina,USA,automixis,Triantaphyllou AC: Polyploidy and Parthenogene...
M. arenaria,51,,1,2-NC,North Carolina,USA,automixis,Triantaphyllou AC: Polyploidy and Parthenogene...

In [31]:
cytology.tail()

,csome_low,csome_high,N,isolate,location,country,reproduction,reference
species,,,,,,,,
M. orvzae,51,55,2,,,,apomixis,"Triantaphyllou AC: Cytogenetics, cytotaxonomy ..."
M. platani,42,44,1,,,,apomixis,"Triantaphyllou AC: Cytogenetics, cytotaxonomy ..."
M. querciana,30,32,1,,,,apomixis,"Triantaphyllou AC: Cytogenetics, cytotaxonomy ..."
M. nataliei,4,4,1,,,,amphimixis,Triantaphyllou AC: Gametogenesis and the Chrom...
M. kikuyensis,7,7,1,,,,amphimixis,Triantaphyllou AC: Cytogenetic status of Meloi...

In [32]:
len(cytology)

43

In [33]:
cytology.describe()

       csome_low           N
count     43.00000   43.000000
mean      34.55814   13.813953
std       15.01000   38.648142
min        4.00000    1.000000
25%       18.00000    1.000000
50%       36.00000    1.000000
75%       51.00000    6.000000
max       54.00000  215.000000

In [34]:
c = cytology
c.head()

,csome_low,csome_high,N,isolate,location,country,reproduction,reference
species,,,,,,,,
M. arenaria,36,,1,10-NC,North Carolina,USA,automixis,Triantaphyllou AC: Polyploidy and Parthenogene...
M. arenaria,36,,1,55-NC,North Carolina,USA,automixis,Triantaphyllou AC: Polyploidy and Parthenogene...
M. arenaria,36,,1,98-NC,North Carolina,USA,automixis,Triantaphyllou AC: Polyploidy and Parthenogene...
M. arenaria,51,,1,1-NC,North Carolina,USA,automixis,Triantaphyllou AC: Polyploidy and Parthenogene...
M. arenaria,51,,1,2-NC,North Carolina,USA,automixis,Triantaphyllou AC: Polyploidy and Parthenogene...

In [35]:
c[c.N]

AttributeError: 'DataFrame' object has no attribute 'N'